body {
  background-color: #e6dcb7;
}
.container {
  margin-top: 30px;
  display: flex;
  background-color: white;
  border-radius: 35px;
  padding-bottom: 50px;
}
.container-right {
  display: flex;
}
.container-left {
  padding-left: 40px;
}
.container-right-text {
  margin-bottom: 20px;
  display: table;
}
h2 {
  margin-top: 50px;
  text-align: right;
  margin-right: 20px;
}
.w3-container {
  margin-top: 60px;
}
.container-right-img {
  display: table;
}
.container-right-img img {
  width: 44px;
  height: 44px;
}
.container-right-progress {
  width: 500px;
}
.container-right-progress img {
  width: 44px;
  height: 44px;
  margin-left: 50px;
}
.description {
  padding: 20px;
  width: 455px;
  height: 167px;
  left: 75px;
  top: 414px;

  background: #f7fff5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 27px;
}
.w3-green {
  height: 24px;
  width: 60%;
  padding-left: auto;
  margin-bottom: 50px;
}
.w3-red {
  height: 24px;
  width: 50%;
  margin-bottom: 50px;
}
.w3-blue {
  height: 24px;
  width: 40%;
  margin-bottom: 50px;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 50px;
  margin-bottom: 50px;
}
